.Packages{
    width: 65vw;
    .Package{
        background-color: white;
        margin-left: 30px;
        display: flex;
        flex-direction: row;
        .image{
            #books{
                height: 180px;
                margin-top: 10px;
                margin-left: 10px;
            }
            p{
                text-align: left;
                margin-left: 10px;
            }
            display: flex;
            flex-direction: column;
            .stars{
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-left: 7px;
                margin-right: 7px;
                img{
                    height: 20px;
                }
            }
        }
        .description{
            margin-left: 30px;
            h2{
                color: #13AE7E;
            }
            .subheadings{
                display: flex;
                flex-direction: column;
                .subheading{
                    display: flex;
                    flex-direction: row;
                    img{
                        width: 15px;
                        margin:10px;
                    }
                }
                button{
                    padding: 10px 10px;
                    color: white;
                    background-color:  #13AE7E;
                    border: none;
                    border-radius: 8px;
                    margin-top: 20px;
                    margin-bottom: 20px;
                }
            }
        }
    }
}